* {
    margin:0;
    padding:0;
    box-sizing:0;
}

/*----- body -----*/
body {
    height:100%;
    background:rgb(190, 39, 39);
    overflow-x:hidden;
    font-family:sans-serif;
    z-index:1000002;
    text-align:center;
    overflow: hidden;
}
/*----- body -----*/



/*----- doors -----*/
#door {
    position:fixed;
    z-index:100000;
    width:100%;
    height:100%;
    display: flex;
    flex-direction:row;
}
.open #door {
    animation:doorOpen 3s linear forwards;
}
@keyframes doorOpen {
    0% {top:0%}
    90% {top:0%}
    100% {top:-100%}
}
#left-door {
    width:50.3%;
    height:110%;
    transform:scaleX(-1);
}
.open #left-door {
    animation:leftOpen 2s linear 0.5s forwards;
}
@keyframes leftOpen {
    0% {transform:rotateY(0deg) translateZ(-500px);}
    100% {transform:rotateY(90deg) translateZ(-500px);display:none}
}
#right-door {
    width:50.3%;
    height:110%;
}
.open #right-door {
    animation:rightOpen 2s linear 0.5s forwards;
}
@keyframes rightOpen {
    0% {transform:rotateY(0deg) translateZ(500px);}
    100% {transform:rotateY(90deg) translateZ(500px);display:none}
}

#click {
    position:fixed;
    width:100%;
    height:100px;
    top:20%;
    text-align:center;
    display:flex;
    flex-direction:column;
    padding-bottom:18rem;
    cursor:pointer;
}
.open #click {
    animation:kadoUp 1s linear forwards;
}
@keyframes kadoUp {
    0% {top:20%;}
    70% {top:25%;}
    100% {top:-70%;display:none}
}
#click p {
    font-size:2rem;
    font-weight:700;
    text-shadow: 1px 2px 3px #ff002b, 1px 2px 3px #ff0037, -1px -1px 3px #ff0037, -1px -1px 3px #ff0037;
    color: #fffb22;
}
#click div {
    animation:aadisoni 5s linear infinite;
    top:40%;
    left:40%;
}

@keyframes aadisoni{0%{transform:translate(0px,0px) rotate(0deg)}15%{transform:translate(-25px,0px) rotate(-5deg)}30%{transform:translate(20px,0px) rotate(3deg)}45%{transform:translate(-15px,0px) rotate(-3deg)}60%{transform:translate(10px,0px) rotate(2deg)}75%{transform:translate(-5px,0px) rotate(-1deg)}100%{transform:translate(0px,0px) rotate(0deg)}}@-webkit-keyframes aadisoni{0%{-webkit-transform:translate(0px,0px) rotate(0deg)}15%{-webkit-transform:translate(-25px,0px) rotate(-5deg)}30%{-webkit-transform:translate(20px,0px) rotate(3deg)}45%{-webkit-transform:translate(-15px,0px) rotate(-3deg)}60%{-webkit-transform:translate(10px,0px) rotate(2deg)}75%{-webkit-transform:translate(-5px,0px) rotate(-1deg)}100%{-webkit-transform:translate(0px,0px) rotate(0deg)}}

/*----- doors -----*/



/*----- background animation -----*/
#clown {
    position: fixed;
    top:20%;
    right:-20%;
    width:200px;
    z-index:10000;
}
.open #clown {
    animation:clown 18s linear;
}
@keyframes clown {
    0% {right:-20%}
    100% {right:100%}
}

#stars-background {
    position: fixed;
    z-index:50;
    height: 100%;
    width:100%;
    pointer-events:none;
}
#stars-background img {
    position:absolute;
}
#star1 {
    width:150px;
    left:-20%;
    opacity:0.4;
}
#star2 {
    width:70px;
    left:-10%;
    opacity:0.4;
}
#star3 {
    width:40px;
    left:30%;
    top:-20%;
    opacity:0.5;
}
#star4 {
    width:80px;
    left:50%;
    top:-20%;
    opacity:0.6;
}
#star5 {
    width:30px;
    left:20%;
    top:-20%;
    opacity:0.4;
}
.open #star1 {
    animation:star1 20s linear infinite 15s;
}
.open #star2 {
    animation:star2 10s linear infinite 20s;
}
.open #star3 {
    animation:star3 8s linear infinite  2s;
}
.open #star4 {
    animation:star4 12s linear infinite 27s;
}
.open #star5 {
    animation:star5 10s linear infinite 7s ;
}
@keyframes star1 {
    0% {top:-20%;left:0%;transform:rotate(0deg)}
    50% {top:130%;left:50%;}
    100% {top:350%;left:100%;transform:rotate(800deg)}
}
@keyframes star2 {
    0% {top:-20%;left:90%;transform:rotate(0deg)}
    50% {top:90%;left:50%;}
    100% {top:190%;left:-10%;transform:rotate(400deg)}
}
@keyframes star3 {
    0% {top:-20%;left:30%;transform:rotate(0deg)}
    50% {top:50%;left:20%;}
    100% {top:120%;left:10%;transform:rotate(800deg)}
}
@keyframes star4 {
    0% {top:-20%;left:50%;transform:rotate(0deg)}
    50% {top:70%;left:75%;}
    100% {top:170%;left:100%;transform:rotate(600deg)}
}
@keyframes star5 {
    0% {top:-20%;left:20%;transform:rotate(0deg)}
    50% {top:100%;left:20%;}
    100% {top:210%;left:20%;transform:rotate(800deg)}
}

#blue1 {
    width:100px;
    top:-20%;
    opacity:0.5;
}
#blue2 {
    width:60px;
    top:-20%;
    opacity:0.4;
}
#blue3 {
    width:30px;
    top:-20%;
    opacity:0.6;
}
.open #blue1 {
    animation:blue1 14s linear infinite 17s;
}
.open #blue2 {
    animation:blue2 10s linear infinite 25s;
}
.open #blue3 {
    animation:blue3 25s linear infinite 10s;
}
@keyframes blue1 {
    0% {top:-20%;left:60%;transform:rotate(0deg)}
    50% {top:80%;left:30%;}
    100% {top:180%;left:0%;transform:rotate(1100deg)}
}
@keyframes blue2 {
    0% {top:-20%;left:12%;transform:rotate(0deg)}
    50% {top:50%;left:20%;}
    100% {top:150%;left:30%;transform:rotate(700deg)}
}
@keyframes blue3 {
    0% {top:-20%;left:90%;transform:rotate(0deg)}
    50% {top:100%;left:80%;}
    100% {top:210%;left:70%;transform:rotate(800deg)}
}

#snow1 {
    top:-20%;
    width:50px;
    opacity:0.6;
}
#snow2 {
    top:-20%;
    width:70px;
    opacity:0.6;
}
#snow3 {
    top:-20%;
    width:30px;
    opacity:0.7;
}
#snow4 {
    top:-20%;
    width:110px;
    opacity:0.7;
}
.open #snow1 {
    animation:snow1 11s linear infinite 10s;
}
.open #snow2 {
    animation:snow2 10s linear infinite 15s;
}
.open #snow3 {
    animation:snow3 20s linear infinite ;
}
.open #snow4 {
    animation:snow3 15s linear infinite 5s;
}

@keyframes snow1 {
    0% {top:-20%;left:10%;transform:rotateY(0deg) rotate(0deg)}
    50% {top:100%;left:20%;}
    100% {top:210%;left:30%;transform:rotateY(450deg) rotate(200deg)}
}
@keyframes snow2 {
    0% {top:-20%;left:40%;transform:rotateY(0deg) rotate(0deg)}
    50% {top:100%;left:60%;}
    100% {top:210%;left:80%;transform:rotateY(380deg) rotate(250deg)}
}
@keyframes snow3 {
    0% {top:-20%;left:80%;transform:rotateY(0deg) rotate(0deg)}
    50% {top:100%;left:40%;}
    100% {top:210%;left:0%;transform:rotateY(590deg) rotate(400deg)}
}
@keyframes snow4 {
    0% {top:-20%;left:90%;transform:rotateY(0deg) rotate(0deg)}
    50% {top:100%;left:70%;}
    100% {top:210%;left:50%;transform:rotateY(650deg) rotate(400deg)}
}

#no1 {
    top:-20%;
    width:40px;
    opacity:0.7;
}
#no2 {
    top:-20%;
    width:30px;
    opacity:0.5;
}
.open #no1 {
    animation:no1 15s linear infinite 15s;
}
.open #no2 {
    animation:no2 7s linear infinite 2s;
}
@keyframes no1 {
    0% {top:-20%;left:90%;transform:rotate(0deg)}
    50% {top:100%;left:80%;}
    100% {top:210%;left:70%;transform:rotate(450deg)}
}
@keyframes no2 {
    0% {top:-20%;left:10%;transform:rotate(0deg)}
    50% {top:100%;left:60%;}
    100% {top:210%;left:110%;transform:rotate(450deg)}
}

#light1 {
    top:-20%;
    width:70px;
}
#light2 {
    top:-20%;
    width:100px;
}
#light3 {
    top:-20%;
    width:60px;
}
.open #light1 {
    animation:light1 10s linear infinite 7s;
}
.open #light2 {
    animation:light2 17s linear infinite ;
}
.open #light3 {
    animation:light3 13s linear infinite 15s ;
}
@keyframes light1 {
    0% {top:-20%;left:80%;transform:rotate(0deg)}
    50% {top:100%;left:85%;}
    100% {top:210%;left:90%;transform:rotate(3050deg)}
}
@keyframes light2 {
    0% {top:-20%;left:10%;transform:rotate(0deg)}
    50% {top:100%;left:60%;}
    100% {top:210%;left:110%;transform:rotate(5050deg)}
}
@keyframes light3 {
    0% {top:-20%;left:50%;transform:rotate(0deg)}
    50% {top:100%;left:40%;}
    100% {top:210%;left:30%;transform:rotate(3050deg)}
}

#st1 {
    top:-20%;
    width:70px;
    opacity:0.5;
}
#st2 {
    top:-20%;
    width:20px;
    opacity:0.7;
}
#st3 {
    top:-20%;
    width:120px;
    opacity:0.4;
}
.open #st1 {
    animation:str1 10s linear infinite 20s;
}
.open #st2 {
    animation:str2 12s linear infinite 12s;
}
.open #st3 {
    animation:str3 27s linear infinite 2s;
}
@keyframes str1 {
    0% {top:-20%;left:-10%;transform:rotate(0deg)}
    50% {top:100%;left:20%;}
    100% {top:210%;left:30%;transform:rotate(550deg)}
}
@keyframes str2 {
    0% {top:-20%;left:110%;transform:rotate(0deg)}
    50% {top:90%;left:70%;}
    100% {top:190%;left:30%;transform:rotate(450deg)}
}
@keyframes str3 {
    0% {top:-20%;left:60%;transform:rotate(0deg)}
    50% {top:70%;left:50%;}
    100% {top:170%;left:40%;transform:rotate(850deg)}
}
/*----- stars background -----*/



/*----- left & right sides -----*/
#left-side {
    width:40px;
    height:100%;
    position:fixed;
    left:0%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 10;
}
#left-side div {
    width:40px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    animation:left 10s linear infinite;
}
#left-side div img {
    width:20px;
    margin:5px 0;
}
@keyframes left {
    0% {top:-100%;}
    100% {top:100%}
}


#right-side {
    width:40px;
    height:100%;
    position:fixed;
    right:0%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:10;
}
#right-side div {
    width:40px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    animation:right 10s linear infinite;
}
#right-side div img {
    width:20px;
    margin:5px 0;
}
@keyframes right {
    0% {bottom:-100%}
    100% {bottom:100%}
}

/*----- left & right sides -----*/



/*----- ballons 2021 -----*/
#ballon {
    position:fixed;
    height:100%;
    width:100%;
    z-index: 50;
    pointer-events:none;

}
#ballon img {
    width:120px;
    position:absolute;
}
#ba1 {
    bottom:-20%;
    left:0%;
}
#ba2 {
    bottom:-20%;
    left:10%;
}
#ba3 {
    bottom:-20%;
    left:20%;
}
#ba4 {
    bottom:-20%;
    left:30%;
}
#ba5 {
    bottom:-20%;
    left:40%;
}
#ba6 {
    bottom:-20%;
    left:50%;
}
#ba7 {
    bottom:-20%;
    left:60%;
}
#ba8 {
    bottom:-20%;
    left:70%;
}
#ba9 {
    bottom:-20%;
    left:80%;
}
#ba10 {
    bottom:-20%;
    left:90%;
}
.open #ba1 {
    animation:ba1 8s linear  10s;
}
.open #ba2 {
    animation:ba2 8s linear  5s;
}
.open #ba3 {
    animation:ba3 8s linear ;
}
.open #ba4 {
    animation:ba4 8s linear  3s;
}
.open #ba5 {
    animation:ba5 8s linear  2s;
}
.open #ba6 {
    animation:ba6 8s linear  4s;
}
.open #ba7 {
    animation:ba7 8s linear  5s;
}
.open #ba8 {
    animation:ba8 8s linear  2s;
}
.open #ba9 {
    animation:ba9 8s linear  3s;
}
.open #ba10 {
    animation:ba10 8s linear 7s;
}
@keyframes ba1 {
    0% {bottom:-20% ; left:0% ;}
    25% {bottom:20% ; left:5% ;}
    50% {bottom:45% ; left:10% ;}
    75% {bottom:71% ; left:11% ;}
    100% {bottom:100% ; left:12% ;}
}
@keyframes ba2 {
    0% {bottom:-20% ; left:10% ;}
    25% {bottom:20% ; left:12% ;}
    50% {bottom:45% ; left:15% ;}
    75% {bottom:71% ; left:10% ;}
    100% {bottom:100% ; left:5% ;}
}
@keyframes ba3 {
    0% {bottom:-20% ; left:20% ;}
    25% {bottom:20% ; left:15% ;}
    50% {bottom:45% ; left:10% ;}
    75% {bottom:71% ; left:7% ;}
    100% {bottom:100% ; left:5% ;}
}
@keyframes ba4 {
    0% {bottom:-20% ; left:30% ;}
    25% {bottom:20% ; left:32% ;}
    50% {bottom:45% ; left:35% ;}
    75% {bottom:71% ; left:32% ;}
    100% {bottom:100% ; left:30% ;}
}
@keyframes ba5 {
    0% {bottom:-20% ; left:40% ;}
    25% {bottom:20% ; left:37% ;}
    50% {bottom:45% ; left:35% ;}
    75% {bottom:71% ; left:30% ;}
    100% {bottom:100% ; left:27% ;}
}
@keyframes ba6 {
    0% {bottom:-20% ; left:50% ;}
    25% {bottom:20% ; left:55% ;}
    50% {bottom:45% ; left:57% ;}
    75% {bottom:71% ; left:58% ;}
    100% {bottom:100% ; left:55% ;}
}
@keyframes ba7 {
    0% {bottom:-20% ; left:60% ;}
    25% {bottom:20% ; left:58% ;}
    50% {bottom:45% ; left:55% ;}
    75% {bottom:71% ; left:53% ;}
    100% {bottom:100% ; left:54% ;}
}
@keyframes ba8 {
    0% {bottom:-20% ; left:70% ;}
    25% {bottom:20% ; left:73% ;}
    50% {bottom:45% ; left:75% ;}
    75% {bottom:71% ; left:75% ;}
    100% {bottom:100% ; left:74% ;}
}
@keyframes ba9 {
    0% {bottom:-20% ; left:80% ;}
    25% {bottom:20% ; left:79% ;}
    50% {bottom:45% ; left:78% ;}
    75% {bottom:71% ; left:77% ;}
    100% {bottom:100% ; left:78% ;}
}
@keyframes ba10 {
    0% {bottom:-20% ; left:90% ;}
    25% {bottom:20% ; left:87% ;}
    50% {bottom:45% ; left:86% ;}
    75% {bottom:71% ; left:85% ;}
    100% {bottom:100% ; left:89% ;}
}
/*----- ballons 2021 -----*/



/*----- content -----*/
#container {
    background:rgba(12, 12, 12, 0.74) url(images/background.gif) center fixed;
    width:500px;
    margin:0 auto;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items: center;
    position:relative;
    border-radius:5px;
    padding-bottom:10rem;
    margin-top:-2rem;
}

/*----- name -----*/
#name-img {
    width:500px;
}
#header {
    animation:wobble 5s ease-in-out infinite;
    transform-origin:center center;
    transform-style:preserve-3d;
    font-size: 4px;
    margin: -4em 0;
    margin-bottom: 40px;
}
@keyframes wobble {
    0%,100%{ transform:rotate3d(1,1,0,20deg); }
    25%{ transform:rotate3d(-1,1,0,20deg); }
    50%{ transform:rotate3d(-1,-1,0,20deg); }
    75%{ transform:rotate3d(1,-1,0,20deg); }
}
#header-name {
    font-size:3.5rem;
    color:wheat;
    margin:1rem 1rem 0rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:linear-gradient(to right, rgb(255, 100, 100) 20%,rgb(255, 211, 66) 40%,rgb(241, 255, 45) 60%, #fc38a4 80%) ;
    background-size:200% auto;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 1s linear infinite;
    transition: all linear 0.2s;
    transform-style: preserve-3d;
    animation: shine 2s infinite alternate ease-in-out -7.5s;
    transform: rotateY(10deg) rotateX(23deg) translateZ(0);
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.18);
}
@-webkit-keyframes shine {
    to {
    transform: translateY(0);
    background-position: 200% center;
    }
}
@keyframes shine {
    to {
    transform: translateY(0.2em);
    background-position: 200% center;
    }
}
@-webkit-keyframes nam {
    to {
    transform: translateY(0.3em);
    background-position: 200% center;
    }
}
@keyframes nam {
    to {
    transform: translateY(0.3em);
    background-position: 200% center;
    }
}


#french {
    width:300px;
}

/*----- top images -----*/
#image1, #image2 {
    width:200px;
    height: 200px;
}

/*----- animation of top images -----*/
#anim-img1 {
    width:100%;
    height:200px;
    position:relative;
    margin:1rem;
}
#image1 {
    transform: rotateX(10deg);
    position:absolute;
    left:30%;
    animation: img1 4s linear infinite ;
}
#image2 {
    animation:img2 5s linear infinite;
    margin-bottom:1.5rem;
    width:250px;
    height: 250px;
    border-radius:20px;
    background-color:rgb(255, 238, 85);
    padding:0.2rem;
}

@keyframes img1 {
    0% {transform: rotate(0deg); left:30%;}
    12.5% {transform: rotate(12deg); left:26%;}
    25% {transform: rotate(24deg); left:23%;}
    37.5% {transform: rotate(12deg); left:26%;}
    50% {transform: rotate(0deg); left:30%;}
    62.5% {transform: rotate(-12deg); left:34%;}
    75% {transform: rotate(-24deg); left:37%;}
    87.5% {transform: rotate(-12deg); left:34%;}
    100% {transform: rotate(0deg); left:30%;}
}
@keyframes img2 {
    0% {transform:scale(0);}
    12.5% {transform:scale(0.7);}
    25% {transform:scale(1);}
    37.5% {transform:scale(0.75);}
    50% {transform:scale(1);}
    62.5% {transform:scale(0.75);}
    75% {transform:scale(1);}
    87.5% {transform:scale(0.7);}
    100% {transform:scale(0);}
}

/*----- bottom images -----*/
#happy2021 {
    width:400px;
    margin:3rem;
    border-radius:1000px;
    animation:happy 2s linear infinite ;
}

/*----- paragraphs -----*/
#souhaite1 {
    font-size:1.4rem;
    color:yellow;
    margin:8px 50px;
    font-family: 'Pacifico', cursive;
}
#souhaite2 {
    font-size:1.4rem;
    color:rgb(0, 255, 170);
    margin:8px 80px;
    font-family: 'Pacifico', cursive;
}
#souhaite3 {
    font-size:1.4rem;
    color:rgb(255, 0, 221);
    margin:8px 60px;
    font-family: 'Pacifico', cursive;
}

/*----- animating the bottom paragraphs -----*/
#anim-pa {
    width:100%;
    height:50px;
    width:100%; 
    position:relative;
    overflow:hidden;
    margin-bottom:5rem;
}
#anim-pa p {
    font-size:1.4rem;
    font-family: 'Comfortaa', cursive;
    animation:anim-pa 15s linear infinite;
    position:absolute;
    top:15%;
    width:100%;
    color:yellow;
}
#anim-pa p span {
    font-weight:700;
    font-size:1.6rem;
}

@keyframes anim-pa {
    0% {left:100%}
    100% {left:-150%}
}

/*----- last paragraph -----*/
#part {
    margin:3rem;
    font-size:1.5rem;
    font-weight:700;
    position:absolute;
    bottom:5%;
    animation:part 2s linear infinite;
    z-index:1;
    text-shadow: 1px 2px 3px #ff002b, 1px 2px 3px #ff0037, -1px -1px 3px #ff0037, -1px -1px 3px #ff0037;
    color: #ffc507;
}

@keyframes part {
    0% {bottom:5%;}
    20% {bottom:5.5%;}
    30% {bottom:5%;}
    40% {bottom:5.5%;}
    50% {bottom:6%;}
    60% {bottom:5.5%;}
    70% {bottom:6%;}
    80% {bottom:5%;}
    90% {bottom:5%;}
    100% {bottom:5%;}
}



#last-img {
    width:450px;
    animation:part 2s linear infinite;
    position:absolute;
    opacity:0.9;
    z-index:0;
}
/*----- content -----*/



/*----- input form -----*/
form {
    position:fixed;
    bottom:0%;
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: space-between;
    z-index:60;
}
form input {
    width:850px;
    height:30px;
    background-color:rgb(206, 27, 27);
    border:1px solid rgb(204, 38, 38);
    border-radius:10px;
    padding:0.3rem;
    margin:0 1.7rem 0 0;
    font-size:1.3rem;
    color:white;
    outline:none;
    text-align: center;
}
::-ms-input-placeholder {
    color:white;    
}
::-webkit-input-placeholder {
    color:white;
}
form button {
    width:350px;
    height:42px;
    background-color: rgb(207, 28, 28);
    border:1px solid rgb(204, 38, 38);
    border-radius:10px;
    outline:none;
    font-size:1.3rem;
    color:white;
    cursor:pointer;
}
#submit-whatsapp {
    width:100%;
    background-color: rgb(207, 28, 28);
    border:1px solid rgb(204, 38, 38);
    border-radius:10px;
    outline: none;
    font-size:1.3rem;
    padding:0.3rem;
    font-family:'Comfortaa', cursive;
    text-decoration:none;
    color:white;
}
#submit-whatsapp img {
    width:25px;
    margin-right:1rem;
}

